h1,
p {
  font-family: Lato;
}

.virtual-list {
  overflow: auto;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
}

.virtual-list__scroll {
  overflow: auto;
}

.virtual-list__item {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  border: 1px solid #000;
}
